sentiment-analysis.yml
app:
  description: ''
  icon: 🤖
  icon_background: '#FFEAD5'
  mode: workflow
  name: 'Sentiment Analysis #SPS'
  use_icon_as_answer_icon: false
dependencies:
- current_identifier: null
  type: marketplace
  value:
    marketplace_plugin_unique_identifier: langgenius/openai:0.2.6@e2665624a156f52160927bceac9e169bd7e5ae6b936ae82575e14c90af390e6e
    version: null
kind: app
version: 0.5.0
workflow:
  conversation_variables: []
  environment_variables: []
  features:
    file_upload:
      allowed_file_extensions:
      - .JPG
      - .JPEG
      - .PNG
      - .GIF
      - .WEBP
      - .SVG
      allowed_file_types:
      - image
      allowed_file_upload_methods:
      - local_file
      - remote_url
      enabled: false
      fileUploadConfig:
        audio_file_size_limit: 50
        batch_count_limit: 5
        file_size_limit: 15
        image_file_size_limit: 10
        video_file_size_limit: 100
        workflow_file_upload_limit: 10
      image:
        enabled: false
        number_limits: 3
        transfer_methods:
        - local_file
        - remote_url
      number_limits: 3
    opening_statement: ''
    retriever_resource:
      enabled: false
    sensitive_word_avoidance:
      enabled: false
    speech_to_text:
      enabled: false
    suggested_questions: []
    suggested_questions_after_answer:
      enabled: false
    text_to_speech:
      enabled: false
      language: ''
      voice: ''
  graph:
    edges:
    - data:
        sourceType: llm
        targetType: end
      id: 1711708651402-1711708653229
      selected: false
      source: '1711708651402'
      sourceHandle: source
      target: '1711708653229'
      targetHandle: target
      type: custom
    - data:
        sourceType: start
        targetType: if-else
      id: 1711708591503-1711708770787
      selected: false
      source: '1711708591503'
      sourceHandle: source
      target: '1711708770787'
      targetHandle: target
      type: custom
    - data:
        sourceType: llm
        targetType: end
      id: 1711708925268-1712457684421
      selected: false
      source: '1711708925268'
      sourceHandle: source
      target: '1712457684421'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1711708770787-1711708651402
      selected: false
      source: '1711708770787'
      sourceHandle: 'false'
      target: '1711708651402'
      targetHandle: target
      type: custom
    - data:
        sourceType: if-else
        targetType: llm
      id: 1711708770787-1711708925268
      selected: false
      source: '1711708770787'
      sourceHandle: 'true'
      target: '1711708925268'
      targetHandle: target
      type: custom
    nodes:
    - data:
        desc: Entry point of the workflow.
        selected: false
        title: Start
        type: start
        variables:
        - label: input_text
          max_length: 999999
          options: []
          required: true
          type: paragraph
          variable: input_text
        - label: Multisentiment
          max_length: 48
          options:
          - 'TRUE'
          - 'FALSE'
          required: true
          type: select
          variable: Multisentiment
        - label: Categories
          max_length: 48
          options: []
          required: false
          type: text-input
          variable: Categories
      height: 189
      id: '1711708591503'
      position:
        x: 80.25858041166481
        y: 3033.5
      positionAbsolute:
        x: 80.25858041166481
        y: 3033.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Uses GPT-4 to assign a separate sentiment score for each relevant category
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4o-mini
          provider: langgenius/openai/openai
        prompt_template:
        - id: d4fc418e-504e-42e6-b262-c1179c961e1c
          role: system
          text: "You are a text sentiment analysis model. Analyze text sentiment,\
            \ categorize, and extract positive and negative keywords. If no categories\
            \ are provided, categories should be automatically determined. Assign\
            \ a sentiment score (-1.0 to 1.0, in 0.1 increments). Return a JSON response\
            \ only.\nAlways attempt to return a sentiment score without exceptions.\
            \ Define a sentiment score for each category that applies to the input\
            \ text. Do not include categories that do not apply to the text. It is\
            \ okay to skip categories. \nIMPORTANT: Format the output as a JSON. Only\
            \ return a JSON response with no other comment or text. If you return\
            \ any other text than JSON, you will have failed."
        - id: cf3d4bd5-61d5-435e-b0f8-e262e7980934
          role: user
          text: 'input_text: Makanannya enak dan pelayan ramah, tapi waktu tunggunya
            lama.

            categories: rasa, pelayanan, harga'
        - id: 760174bb-2bbe-44ab-b34c-b289f5b950b9
          role: assistant
          text: "[\n  {\n    \"category\": \"rasa\",\n    \"positive_keywords\": [\n\
            \      \"makanannya enak\"\n    ],\n    \"negative_keywords\": [],\n \
            \   \"score\": 0.7,\n    \"sentiment\": \"Positive\"\n  },\n  {\n    \"\
            category\": \"pelayanan\",\n    \"positive_keywords\": [\n      \"pelayan\
            \ ramah\"\n    ],\n    \"negative_keywords\": [],\n    \"score\": 0.6,\n\
            \    \"sentiment\": \"Positive\"\n  }\n]"
        - id: 4b3d6b57-5e8b-48ef-af9d-766c6502bc00
          role: user
          text: 'input_text: {{#1711708591503.input_text#}}


            categories: {{#1711708591503.Categories#}}'
        selected: false
        title: Multisentiment is False
        type: llm
        variables: []
        vision:
          enabled: false
      height: 148
      id: '1711708651402'
      position:
        x: 692.496741289005
        y: 3168.674508326413
      positionAbsolute:
        x: 692.496741289005
        y: 3168.674508326413
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Outputs the per-category sentiment JSON array when Multisentiment is
          False.
        outputs:
        - value_selector:
          - '1711708651402'
          - text
          variable: text
        selected: false
        title: End FALSE
        type: end
      height: 148
      id: '1711708653229'
      position:
        x: 1002.763915193643
        y: 3168.674508326413
      positionAbsolute:
        x: 1002.763915193643
        y: 3168.674508326413
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        cases:
        - case_id: 'true'
          conditions:
          - comparison_operator: is
            id: '1711708913752'
            value: 'TRUE'
            variable_selector:
            - '1711708591503'
            - Multisentiment
          id: 'true'
          logical_operator: and
        conditions:
        - comparison_operator: is
          id: '1711708913752'
          value: 'True'
          variable_selector:
          - '1711708591503'
          - Multisentiment
        desc: Routes the request based on the Multisentiment flag.
        logical_operator: and
        selected: false
        title: IF/ELSE
        type: if-else
      height: 168
      id: '1711708770787'
      position:
        x: 382.31269157348424
        y: 3033.5
      positionAbsolute:
        x: 382.31269157348424
        y: 3033.5
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        context:
          enabled: false
          variable_selector: []
        desc: Uses GPT-4 to analyse texts with mixed opinions and return one aggregated
          sentiment.
        model:
          completion_params:
            frequency_penalty: 0
            max_tokens: 512
            presence_penalty: 0
            response_format: ''
            temperature: 0.7
            top_p: 1
          mode: chat
          name: gpt-4-turbo
          provider: langgenius/openai/openai
        prompt_template:
        - id: 1e4e0b38-4056-4b6a-b5c7-4b99e47cd66b
          role: system
          text: 'You are a text sentiment analysis model. Analyze text sentiment,
            categorize, and extract positive and negative keywords. If no categories
            are provided, categories should be automatically determined. Assign a
            sentiment score (-1.0 to 1.0, in 0.1 increments). Return a JSON response
            only.

            Always attempt to return a sentiment score without exceptions.

            Define a single score for the entire text and identify categories that
            are relevant to that text

            IMPORTANT: Format the output as a JSON. Only return a JSON response with
            no other comment or text. If you return any other text than JSON, you
            will have failed.

            '
        - id: 333f6f58-ca2d-459f-9455-8eeec485bee9
          role: user
          text: 'input_text: Makanannya enak dan pelayan ramah, tapi waktu tunggunya
            lama.

            categories: rasa, pelayanan, harga'
        - id: 85f3e061-7cc0-485b-b66d-c3f7a3cb12b5
          role: assistant
          text: "{\n  \"positive_keywords\": [\"makanannya enak\", \"pelayan ramah\"\
            ],\n  \"negative_keywords\": [\"waktu tunggunya lama\"],\n  \"score\"\
            : 0.3,\n  \"sentiment\": \"Slightly Positive\",\n  \"categories\": [\"\
            rasa\", \"pelayanan\"]\n}\n"
        - id: 7d40b4ed-1480-43bf-b56d-3ca2bd4c36af
          role: user
          text: 'Input Text: {{#1711708591503.input_text#}}

            categories: {{#1711708591503.Categories#}}'
        selected: false
        title: Multisentiment is True
        type: llm
        variables: []
        vision:
          enabled: false
      height: 148
      id: '1711708925268'
      position:
        x: 692.496741289005
        y: 2945.794400791178
      positionAbsolute:
        x: 692.496741289005
        y: 2945.794400791178
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    - data:
        desc: Outputs the aggregated multi-sentiment JSON result when Multisentiment
          is True.
        outputs:
        - value_selector:
          - '1711708925268'
          - text
          variable: text
        selected: false
        title: End TRUE
        type: end
      height: 148
      id: '1712457684421'
      position:
        x: 1002.763915193643
        y: 2945.794400791178
      positionAbsolute:
        x: 1002.763915193643
        y: 2945.794400791178
      selected: true
      sourcePosition: right
      targetPosition: left
      type: custom
      width: 242
    viewport:
      x: 284.54718276515337
      y: -1178.7255329550205
      zoom: 0.5295896298194966
  rag_pipeline_variables: []
